absl-py
appdirs
astunparse
audioread
cachetools
certifi
cffi
charset-normalizer
clang
click
contourpy
cycler
Cython
dataclasses
decorator
Distance
docopt
filelock
fonttools
g2p-en
g2pM
gast
german-transliterate @ git+https://github.com/repodiac/german_transliterate.git@4e01beba5f19adb9ccd72d0607a81f4ed7f6ee87
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
inflect
jamo
joblib
Keras-Preprocessing
kiwisolver
libclang
librosa
llvmlite
Markdown
MarkupSafe
matplotlib
nltk
num2words
numba
numpy
oauthlib
opt-einsum
packaging
Pillow
pooch
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydub
pyparsing
pypinyin
python-dateutil
python-frontmatter
pyworld
PyYAML
regex
requests
requests-oauthlib
resampy
rsa
scikit-learn
scipy
six
soundfile
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
TensorFlowTTS
termcolor
TextGrid
threadpoolctl
tqdm
typeguard
typing-extensions
Unidecode
urllib3
Werkzeug
wrapt
zipp